body{
    background-color:black;
}
.post{
    background-color: white;
    width: 450px;
    height: 615px;
    margin-top: 25px;
    margin-left: 400px;

}
.post-header {
   width: 450px;
    height: 65px;
    display: flex;

}
.cinco{
    width: 25px;
    height: 65px;
    font-size: 30px;
    display: 1;
    margin-left: 13px;
    margin-top: 8px;

}
.rigo{
    width: 75px;
    height: 35px;
    margin-left: 2px;
    display: 1;
    margin-top: -12px;
    
   
}
.puntos{
    margin-left: 300px;
    margin-top: 8px;
    font-size: 30px;
}
.rigo h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}
.post-image img{
    width: 450px;
    height: 350px;
}    
.footer{
    width: 450px;
    height: 175px;

}
.iconos{
    width: 20px;
    height: 40px;
    font-size: 30px;
    display: flex;
    
}
.icon-cuatro {
    width: 50px;
    height: 40px;
    margin-left: 315px;
     font-size: 30px;
}
    
.footer-text{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




