body{
    background-color:black;
}

.card {
    background-color: white;
    width: 450px;
    height: 575px;
    margin-top: 25px;
    margin-left: 400px;
}
.card-header h2{
    font-size: small;
    
    
}
.card-header p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: -10px;
    
}
.card-header img{
    width: 450px;
    height: auto;
}
.footer{
    background-color: rgb(226, 25, 58);
    margin-block: 45px;
}
.footer p{
    font-size: medium;
}
